<!DOCTYPE html>
<html>
 <head>
	<meta charset="utf-8">
	<title>Home Page</title>
	<link href="/static/css/style.css" type="text/css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

 </head>
 <body>
 	<div id="whole-page">
 	<div class="header">
 		<div class="innerheader">
 			<div class="logocontainer">
 				<h1>WELCOME TO CV MAKER...</h1>
 <!--	<img class=home-image src ="../static/home.jpg"/>
 </div>-->
</div>
</div>
</div>
 <br>
 <br>
 <h2>Create beautiful,professional </h2>
<h2 >resumes in minutes,FREE</h2>
<br>
<img class=home-image src ="../static/home.jpg"/>
<br>
<br>
<br>
<br>
<br>
<br>

 <h3>CV Maker hosts your </h3>
 <h3>resumes for you to </h3>
 <h3>share with world  </h3>
 <br>
 <!--<h4>Write your resumes effortlessly</h4>
 <h4>with super simple interface</h4>
 <!--<h2>Create professional resumes online for free!!!</h2>
 <br>
 <h3>Choose a job you love,and you will never have to work a day in your life.</h3>-->
 <div class="login-button">
 	<div class="lbutton">
<a href="http://127.0.0.1:8000/login/">
 <button type="button">Login Now</button>
</a>
</div>
<div class="signup-button">
	<div class="sbutton">
<a href="http://127.0.0.1:8000/signup/">
 <button type="button class="btn btn-info">Sign Up</button>
 </a>
</div>
</div>
</div>
  </body>
</html>
