{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link href="/static/css/signup.css" type="text/css" rel="stylesheet">

</head>
<body bgcolor="moccasin">
	<div class="wholepage">
		
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{ message.tags }}">{{ message }}</div>
	{% endfor %}
	{% endif %}
		<form method ="POST">
			{% csrf_token %}
			<h2>Register yourself to create your CV within few minutes</h2>
			<!--<fieldset class ="form-group">-->
				<img class=signup-image src ="../static/signup1.jpg"/>
			<!--</header>-->
				{{ form.as_p }}
			<!--</fieldset>-->
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Sign Up</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">Already Have An Account?<a class="ml-2" href="http://127.0.0.1:8000/login/">Login Now</a>
			</small>
	</div>
</div>


</body>
</html>